 <div class="user-details">
  <h1>Sobre mim</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Linguagens e Bibliotecas</h2>

      <ul style="font-size: 18px;">
       <li>Python</li>
       <li>SQL</li>
       <li>Pandas</li>
       <li>Numpy</li>
      </ul>
    </div>
    <div class="tech">
      <h2>Probabilidade e Estatística</h2>

      <ul style="font-size: 18px;">
       <li>Análise Descritiva</li>
       <li>Inferência</li>
       <li>Modelagem</li>
       <li>Visualização</li>
      </ul>
    </div>
    <div class="tech">
      <h2>Bancos de Dados e Versionamento</h2>

      <ul style="font-size: 18px;">
       <li>IBM Spark</li>
       <li>Github</li>
       <li>Google Cloud (Sheets)</li>
       <li>Microsoft Azure </li>
      </ul>
    </div>
   
<br>
   
</div>
 <div class="certificados" style="text-align: center;">
  <h1>Certificados!</h1>
</div>

<br>

<div class="images">
    <a href="https://www.credly.com/badges/9e10bef7-fea9-4f64-93f5-f61b777c37fe/linked_in_profile">
     <img src="assets/img/Data_Sci_Business_Level_1.png" alt="Data Business IBM" style="width: 300px;">
    </a>
    <a href="https://skillshop.credential.net/0a915699-d9e0-4139-b8aa-d6f58ff6f747">
     <img src="assets/img/google analytics certificado.png" alt="Google Analytics" style="width: 300px;">
    </a>
    <a href="https://www.credly.com/badges/8e8e24e7-3ef9-43ba-b7ba-c93d70b2034b/linked_in_profile">
     <img src="assets/img/Spark_Level_1.png" alt="Spark IBM" style="width: 300px;">
    </a>
   <a href="https://learn.microsoft.com/api/achievements/share/pt-br/LuanNogueira-0777/9NACJ6QU?sharingId=2BB7A0C99C176522">
     <img src="assets/img/use-dax-power-bi-desktop.png" alt="DAX PowerBI Microsoft" style="width: 300px;">
    </a>
   <a href="https://learn.microsoft.com/api/achievements/share/pt-br/LuanNogueira-0777/N7QWUTMF?sharingId=2BB7A0C99C176522">
     <img src="assets/img/get-started-power-bi.png" alt="PowerBI Microsoft" style="width: 300px;">
    </a>
</div>

