 <div class="user-details">
  <h1>Sobre mim</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Linguagens e Bibliotecas</h2>

      <ul style="font-size: 18px;">
       <li>Python</li>
       <li>SQL</li>
       <li>Pandas</li>
       <li>Numpy</li>
      </ul>
    </div>
    <div class="tech">
      <h2>Probabilidade e Estatística</h2>

      <ul style="font-size: 18px;">
       <li>Análise Descritiva</li>
       <li>Inferência</li>
       <li>Modelagem</li>
       <li>Visualização</li>
      </ul>
    </div>
    <div class="tech">
      <h2>Bancos de Dados e Versionamento</h2>

      <ul style="font-size: 18px;">
       <li>IBM Spark</li>
       <li>Github</li>
       <li>Google Cloud (Sheets)</li>
       <li>Microsoft Azure </li>
      </ul>
    </div>
   
</div>
