<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/background-7days.1691614118.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>7days of Code Alura</h3>
    <ul>
      <li>Python</li>
      <li>Pandas</li>
      <li>ETL</li>
      <li>HTML</li>
    </ul>
    <p>Exploração os dados de empréstimos dos acervos do sistema de bibliotecas da UFRN e, passando por diversas funcionalidades que o Pandas oferece, desde a importação de diversos formatos de dados, agregações, divisões e transformações de tabelas, e até a exportação de tabelas estilizadas com minha análise pronta para ser inserida em alguma aplicação.</p>
    <a class="project-link" href="https://colab.research.google.com/drive/1HCesaUcSZeT2IL_RpkTT1eE9yEMlND-3?usp=sharing">Link do Projeto</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Dashboard-Projetos.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Dashboard de Orçamentos </h3>
    <ul>
      <li>Power BI</li>
      <li>ETL</li>
      
    </ul>
    <p>Extração e limpeza de dados em arquivos CSV, apresentação de orçamentos realizados do primeiro trimestre de 2016 até o terceiro timestre de 2019, em um dashboard de PowerBI monocromático.</p>
    <a class="project-link" href="https://app.powerbi.com/view?r=eyJrIjoiYWVjYjBlYWQtNzJmMS00YWE3LTg1M2YtOTY1NGJmNzI3YzMzIiwidCI6ImU4Y2YyNjM5LTFmOTgtNGJiNC1iZDg5LWFiZDE0OTI4OTM3ZiJ9">Link do Dashboard</a>
  </div>
</div>
