<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>7days of Code Alura</h3>
    <ul>
      <li>Python</li>
      <li>Pandas</li>
      <li>ETL</li>
      <li>HTML</li>
    </ul>
    <p>Exploração os dados de empréstimos dos acervos do sistema de bibliotecas da UFRN e, passando por diversas funcionalidades que o Pandas oferece, desde a importação de diversos formatos de dados, agregações, divisões e transformações de tabelas, e até a exportação de tabelas estilizadas com minha análise pronta para ser inserida em alguma aplicação.</p>
    <a class="project-link" href="https://colab.research.google.com/drive/1HCesaUcSZeT2IL_RpkTT1eE9yEMlND-3?usp=sharing">Link do Projeto</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
